@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}


.indego--container {

  &--app {
    padding: 0 3rem 0 0;

    &--layout {
      display: flex;
    }
  }

}


.indego--component {

  &--sideNav {
    width: 20%;
    height: 100vh;
    background-color: #F8F9FA;
    border-right: 1px solid rgba(0, 0, 0, .1);

    & > ul {
      margin: 0 auto;
      padding: 0.8rem 0;
      width: 80%;
      list-style: none;

      & > li:first-of-type > img {
        display: block;
        margin: 0 auto;
        width: 45%;
      }
    }
  }

  &--chart {
    display: flex;
    padding: 2rem 0 0 0;
    width: 80%;
    justify-content: space-around;

    &--doughnut,
    &--bar--horizontal {
      position: relative;
      width: 45%;
      height: 45vh;
    }
  }

}
