@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}


.indego--container {

  &--app {
    padding: 4em 3rem 0 3rem;
  }

}


.indego--component--chart {
  display: flex;
  justify-content: space-between;

  &--doughnut,
  &--bar--horizontal {
    position: relative;
    width: 45vw;
  }

}
